<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>智能管理系统</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="/static/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/assets/css/lib/mmc-chat.css" rel="stylesheet"/>
    <link href="/static/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="/static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="/static/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <style>
        #pneumonia-map {
            width: 1000px;
            height: 500px;
        }
        .select-item {
            width: 120px;
            height: 35px;
        }
        #select-go{
            height: 35px;
            position: relative;
            top: 5px;
        }
    </style>
    <script>
        function jump(id, location) {
            const v = document.getElementById(id);
            window.location.href = location + '/' + v.value
        }
    </script>
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li class="active"><a href="/data_manage/show/"><i class="ti-layout-grid2"></i> 数据展示</a></li>
                <li><a href="/pneumonia3/"><i class="ti-marker-alt"></i> 数据管理</a></li>
                <li>
                    <a href="/pneumonia5/"><i class="ti-panel"></i> 模型管理 </a>
                </li>
                <li>
                    <a href="/pneumonia6/"><i class="ti-pulse"></i> 趋势预测 </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->
<div class="header">
    <div class="pull-left">
        <div class="logo" height="50px">
            <font color="white" size="4px"> 基础设施结构健康监测系统</font>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">

    </div>
</div>

<!-- 主界面 -->
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header"><h3>数据展示</h3></div>
                            <br>
                            <div class="card-body">
                                选择时间段:
                                <label for="start"></label><input type="datetime-local" id="start"> - <label for="end"></label><input type="datetime-local" id="end">
                                <br>
                                选择传感器:
                                <select multiple="multiple" >
                                    <option>FSS_S01_B1_003</option>
                                    <option>FSS_S01_B1_004</option>
                                    <option>FSS_S01_B2_005</option>
                                    <option>FSS_S01_B2_006</option>
                                    <option>FSS_S01_B3_007</option>
                                    <option>FSS_S01_L1_002</option>
                                    <option>FSS_S01_L2_018</option>
                                    <option>FSS_S02_B1_003</option>
                                    <option>FSS_S02_B1_004</option>
                                    <option>FSS_S02_B2_005</option>
                                    <option>FSS_S02_B2_006</option>
                                    <option>FSS_S02_L1_001</option>
                                    <option>FSS_S02_L1_002</option>
                                    <option>FSS_S03_B1_003</option>
                                    <option>FSS_S03_B6_013</option>
                                    <option>FSS_S03_B7_015</option>
                                    <option>FSS_S04_B6_013</option>
                                    <option>FSS_S04_B7_015</option>
                                    <option>FSS_S05_B1_003</option>
                                    <option>FSS_S05_B2_005</option>
                                    <option>FSS_S05_B4_009</option>
                                    <option>FSS_S05_B5_011</option>
                                    <option>FSS_S05_L2_017</option>
                                    <option>FSS_S06_B1_003</option>
                                    <option>FSS_S06_B2_005</option>
                                    <option>FSS_S06_B6_013</option>
                                    <option>FSS_S06_B7_015</option>
                                    <option>FSS_S06_L1_001</option>
                                    <option>FSS_S07_B1_003</option>
                                    <option>FSS_S07_B1_004</option>
                                    <option>FSS_S07_B2_005</option>
                                    <option>FSS_S07_B2_006</option>
                                    <option>FSS_S07_B3_008</option>
                                    <option>FSS_S07_B5_011</option>
                                    <option>FSS_S07_B5_012</option>
                                    <option>FSS_S07_L1_001</option>
                                </select>
                                <br>
                                <button>查询</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- /# container-fluid -->
    </div>

    <!-- /# main -->
</div>
<!-- /# content wrap -->
<script src="/static/assets/js/lib/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="/static/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/static/assets/js/lib/sidebar.js"></script>
<!-- sidebar -->
<script src="/static/assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/static/assets/js/lib/mmc-common.js"></script>
<script src="/static/assets/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="/static/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/static/assets/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->
<!--  Datamap -->
<script src="/static/assets/js/lib/datamap/d3.min.js"></script>
<script src="/static/assets/js/lib/datamap/topojson.js"></script>
<script src="/static/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="/static/assets/js/lib/datamap/datamap-init.js"></script>
<script src="/static/assets/lib/lobipanel/js/lobipanel.js"></script>
<!-- // Datamap -->
<script src="/static/assets/js/scripts.js"></script>
<!-- scripit init-->
<script>
    $(document).ready(function () {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });
</script>
</body>

</html>
