<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>智能管理系统</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <!-- Styles -->
    <link href="/static/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/assets/css/lib/mmc-chat.css" rel="stylesheet"/>
    <link href="/static/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="/static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="/static/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <style>
        #pneumonia-map {
            width: 1000px;
            height: 500px;
        }

        .select-item {
            width: 120px;
            height: 35px;
        }

        #select-go {
            height: 35px;
            position: relative;
            top: 5px;
        }
    </style>
    <script>
        function load_series() {
            // 获取元素
            const sensors = $("#selected-sensors").val();

            // 构造新的 url
            let url = 'load_last50/';
            const req = `selected_sensors=${sensors.join()}`;

            // 请求 URL
            fetch(url + '?' + req).then(function (response) {
                response.json().then(function (json) {
                    draw(json);
                });
            });
        }
    </script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        function draw(trend_data) {

            // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });
            // 使用
            require(
                [
                    'echarts',
                    'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    const myChart = ec.init(document.getElementById('plot-main'));

                    const option = {
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: trend_data['legend']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: trend_data['xAxis']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: trend_data['series']
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        }
    </script>
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li><a href="/data_manage/show/"><i class="ti-layout-grid2"></i> 数据展示</a></li>
                <li><a href="/pneumonia3/"><i class="ti-marker-alt"></i> 数据管理</a></li>
                <li>
                    <a href="/model_manage/show"><i class="ti-panel"></i> 模型管理 </a>
                </li>
                <li class="active">
                    <a href="/predict/"><i class="ti-pulse"></i> 趋势预测 </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->
<div class="header">
    <div class="pull-left">
        <div class="logo" height="50px">
            <font color="white" size="4px"> 基础设施结构健康监测系统</font>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">

    </div>
</div>

<!-- 主界面 -->
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header"><h3>演化趋势预测</h3></div>
                            <br>
                            <div class="card-body">
                                模型配置
                                <br>
                                模型名称: <label for="model-name"></label><input id="model-name" value="WATTNet" size="6">
                                观测长度: <label for="observe-window"></label><input id="observe-window" value="14" size="6">
                                预测间隔: <label for="predict-gap"></label><input id="predict-gap" value="10" size="6">
                                预测长度: <label for="predict-length"></label><input id="predict-length" value="6" size="6">
                                d= <label for="para-d"></label><input id="para-d" value="2" size="6">
                                r= <label for="para-r"></label><input id="para-r" value="1" size="6">
                                <br>
                                选择传感器:
                                <label for="selected-sensors"></label><select multiple="multiple" id="selected-sensors" onchange="load_series()">
                                <option>FSS_S01_B1_003</option>
                                <option>FSS_S01_B1_004</option>
                                <option>FSS_S01_B2_005</option>
                                <option>FSS_S01_B2_006</option>
                                <option>FSS_S01_B3_007</option>
                                <option>FSS_S01_L1_002</option>
                                <option>FSS_S01_L2_018</option>
                                <option>FSS_S02_B1_003</option>
                                <option>FSS_S02_B1_004</option>
                                <option>FSS_S02_B2_005</option>
                                <option>FSS_S02_B2_006</option>
                                <option>FSS_S02_L1_001</option>
                                <option>FSS_S02_L1_002</option>
                                <option>FSS_S03_B1_003</option>
                                <option>FSS_S03_B6_013</option>
                                <option>FSS_S03_B7_015</option>
                                <option>FSS_S04_B6_013</option>
                                <option>FSS_S04_B7_015</option>
                                <option>FSS_S05_B1_003</option>
                                <option>FSS_S05_B2_005</option>
                                <option>FSS_S05_B4_009</option>
                                <option>FSS_S05_B5_011</option>
                                <option>FSS_S05_L2_017</option>
                                <option>FSS_S06_B1_003</option>
                                <option>FSS_S06_B2_005</option>
                                <option>FSS_S06_B6_013</option>
                                <option>FSS_S06_B7_015</option>
                                <option>FSS_S06_L1_001</option>
                                <option>FSS_S07_B1_003</option>
                                <option>FSS_S07_B1_004</option>
                                <option>FSS_S07_B2_005</option>
                                <option>FSS_S07_B2_006</option>
                                <option>FSS_S07_B3_008</option>
                                <option>FSS_S07_B5_011</option>
                                <option>FSS_S07_B5_012</option>
                                <option>FSS_S07_L1_001</option>
                            </select>
                                <br>
                                <button onclick="jump()">预测</button>
                                <div id="plot-main" style="height: 600px"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- /# container-fluid -->
    </div>

    <!-- /# main -->
</div>
<!-- /# content wrap -->
<script src="/static/assets/js/lib/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="/static/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/static/assets/js/lib/sidebar.js"></script>
<!-- sidebar -->
<script src="/static/assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/static/assets/js/lib/mmc-common.js"></script>
<script src="/static/assets/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="/static/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/static/assets/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->
<!--  Datamap -->
<script src="/static/assets/js/lib/datamap/d3.min.js"></script>
<script src="/static/assets/js/lib/datamap/topojson.js"></script>
<script src="/static/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="/static/assets/js/lib/datamap/datamap-init.js"></script>
<script src="/static/assets/lib/lobipanel/js/lobipanel.js"></script>
<!-- // Datamap -->
<script src="/static/assets/js/scripts.js"></script>
<!-- scripit init-->
<script>
    $(document).ready(function () {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });
</script>
</body>

</html>
